.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
*.iml

build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
Testing/
Makefile
compile_commands.json

*.o
*.o.d
*.obj
*.lo
*.la
*.al
*.a
*.so
*.so.*
*.dylib
*.dll
*.d
*.pch
*.lib
*.exp
*.out
*.app
*.exe
*.log

bin/
dep/
*.o
*.d
JOGO
JOGO.exe
